{% extends 'base.html' %}

{% block header_text %}Start a new To-Do list{% endblock %}

{% block form_action %}/lists/new{% endblock %}

{% block table %}

    <ul>
        {% for item in items %}
            <li>{{ item.text }} <b>by </b>{{item.owner}} <b>on</b> {{item.created_at}} </li>
            {% empty %}
            <ul>
            <li><h2>No products yet. </h2></li>
            </ul>
                {% endfor %}
    </ul>
    {% if items.paginator.num_pages > 1 %}
    {% include 'pagination.html' with items=items %}
    {% endif %}
{% endblock %}
