{% extends "basee.html" %}

{% block content %}
    <h2>Login</h2>
    <p>Please fill the form below.</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-group">
            {{ form.email.label_tag }}
            <input type="email" class="form-control {% if form.email.errors %} is-invalid{% endif %}"
                   id="id_email" name="email" placeholder="Your email"
                   value="{{ form.email.value|default:"" }}">
            {% if form.email.errors %}
                <div class="invalid-feedback">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            <input type="password" class="form-control{% if form.password.errors %} is-invalid{% endif %}"
                   id="id_password" name="password" placeholder="Your password"
                   value="{{ form.password.value|default:"" }}">
            {% if form.password.errors %}
                <div class="invalid-feedback">{{ form.password.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}
